# telegram token obtained from @BotFather
TELEGRAM_TOKEN = ''

# list of telegram users allowed to use the bot, comma-separated.
ALLOWED_USERS = 123456789, 987654321

# your freedompop email/password.
FREEDOMPOP_USER = ''
FREEDOMPOP_PASSWORD = ''

# device ids for this client. just make something up.
FREEDOMPOP_DEVICE_ID = '1234567890'
FREEDOMPOP_DEVICE_SID = '1234567890'
FREEDOMPOP_RADIO_TYPE = 'PHONE_TYPE_GSM'

# don't touch these.
FREEDOMPOP_API_USER = '3726328870'
FREEDOMPOP_API_PASSWORD = 'pNp6TIgVm4viVadoyoUdxbsrfmiBwudN'
FREEDOMPOP_APP_VERSION = 'fm.19.01.460.0309'
