# telegram
TELEGRAM_TOKEN = ''
ALLOWED_USERS = {123456789}

# freedompop
FREEDOMPOP_USER = ''
FREEDOMPOP_PASSWORD = ''

FREEDOMPOP_API_USER = '3726328870'
FREEDOMPOP_API_PASSWORD = 'pNp6TIgVm4viVadoyoUdxbsrfmiBwudN'
FREEDOMPOP_APP_VERSION = 'fm.19.01.460.0309'
