# telegram token obtained from @BotFather
TELEGRAM_TOKEN = ''

# list of telegram users allowed to use the bot, comma-separated.
ALLOWED_USERS = 123456789, 987654321

# your freedompop email.
FREEDOMPOP_USER = ''

# your freedompop password. In this case you have two options:
# 1) Provide a plain text password
# 2) Provide an encrypted file
FREEDOMPOP_PASSWORD_USE_ENCRYPTION = False

# if FREEDOMPOP_PASSWORD_USE_ENCRYPTION == False, fill the following field with
# your password in plain text:
FREEDOMPOP_PASSWORD = ''
# else, if you want to use encryption, provide a public key file in .asc format
# and the encrypted file (just one line with the correspondent password)
FREEDOMPOP_PASSWORD_GPG_FILE = ''
FREEDOMPOP_PASSWORD_PUBLIC_KEY = ''

# device ids for this client. just make something up.
FREEDOMPOP_DEVICE_ID = '1234567890'
FREEDOMPOP_DEVICE_SID = '1234567890'
# FPOP_PHONE, FPOP_BYOD, OTT_ANDROID, OTT_IOS
FREEDOMPOP_DEVICE_TYPE = 'FPOP_BYOD'
# PHONE_TYPE_CDMA, PHONE_TYPE_GSM, PHONE_TYPE_NONE, PHONE_TYPE_SIP
FREEDOMPOP_RADIO_TYPE = 'PHONE_TYPE_GSM'
FREEDOMPOP_PUSH_TOKEN = '1234567890'

# don't touch these.
FREEDOMPOP_API_USER = '3726328870'
FREEDOMPOP_API_PASSWORD = 'pNp6TIgVm4viVadoyoUdxbsrfmiBwudN'
FREEDOMPOP_APP_VERSION = 'fm.19.01.460.0309'
